
.button {
  width: 100%;
  appearance: none;
  outline: none;
  display: flex;
  padding: 1.125rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 2.5rem;
  background: var(--black-primary);
  cursor: pointer;
  color: var(--white-primary);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.4px;
}

.button--secondary {
  background: var(--rec-primary);
}
