@import '../../scss/abstracts/variable';

%card-box-shadow {
    box-shadow: 0px 1px 32px 0px var(--color-grey20);
  }

.person__card--container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.person__card--card {
    @extend %card-box-shadow;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid transparent 3px;
    border-radius: 24px;
    width: 252px;
    height: 212px;
    cursor: pointer;
    user-select: none;
    padding: 16px 24px 40px 24px;
    align-items: flex-start;
    img {
        height: 48px;
        width: 48px;
    }
    span {
        font-weight: 900;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.2px;
        color: #141938;
    }
}

.person__card--card-active {
    padding: 16px 24px 40px 24px;
    align-items: flex-start;
    @extend %card-box-shadow;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #fff;
    border: solid var(--black-tertiary) 3px;
    border-radius: 24px;
    width: 252px;
    height: 212px;
    user-select: none;

    span {
        font-weight: 900;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.2px;
        color: #141938;
    }
}

.person__card--checkbox {
    align-self: flex-end;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    appearance: none;
    border: 2px solid #888;
    border-radius: 50%;
}

.person__card--checkbox:checked {
    background-color: var(--color-green-10);
    background-image: url('../../assets/ic_check.svg');
}


@media only screen and (max-width: $breakpoint-md) {
    .person__card--container{
        flex-direction: column;
        align-content: space-around;
    }

    .person__card--card {
        width: 90%;
    }

    .person__card--card-active{
        width: 90%;
    }
}