@import '../../scss/abstracts/variable';

%card-box-shadow {
    box-shadow: 0px 1px 32px 0px var(--color-grey20);
  }

.card--container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}


.card {
    padding: 16px 24px 40px 24px;
    align-items: flex-start;
    @extend %card-box-shadow;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    border-radius: 24px;
    width: 252px;
    height: 212px;
    user-select: none;
    gap:8px;
    &--title{
        font-weight: 900;
        font-family: var(--font-lato);
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.2px;
        color: var(--black-tertiary);
    }
    &--description{
    font-weight: 400;
    font-size: 12px;
    color: var(--black-tertiary);
    font-family: var(--font-lato);
    }
    &--active{
        border: solid var(--black-tertiary) 3px;
    }
}


.card--checkbox {
    align-self: flex-end;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    appearance: none;
    border: 1px solid var(--color-grey60);
    border-radius: 50%;
}

.card--checkbox:checked {
    background-color: var(--color-green-10);
    background-image: url('../../assets/ic_check.svg');
    border:none
}


@media only screen and (max-width: $breakpoint-md) {
    .card--container{
        flex-direction: column;
        align-content: space-around;
    }

    .card--disabled {
        width: 90%;
    }

    .card{
        width: 90%;
    }
}